%h1
  Bets#new

= form_tag g_game_board_bets_path do

  %table
    - checked = true
    - @g_houses.each do |g_house|
      %tr
        %td= ( radio_button_tag( 'asking_house_id', g_house.h_house_id, checked ) if g_house.major_house )
        %td= g_house.h_house.code_name
        %td= ( number_field_tag( "houses_bets[#{g_house.h_house_id}]", current_bet( g_house ), class: :house_bets_inputs ) unless g_house.major_house )
      - checked = false

  = submit_tag :submit

= hidden_field_tag :bets, @bets.to_json