%h1 Listing g_game_boards

%table
  %thead
    %tr
      %th
        Game board id
      %th
        Current turn
      %th
      %th
      %th

  %tbody
    - @g_game_boards.each do |g_game_board|
      %tr
        %th= g_game_board.id
        %th= g_game_board.turn
        %td= link_to 'Show', g_game_board
        %td= link_to 'Edit', edit_g_game_board_path(g_game_board)
        %td= link_to 'Destroy', g_game_board, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New G game board', new_g_game_board_path
