#map
  = image_tag 'map.png', id: 'map-img'

  - @tokens.each do |token|

    - top = token.top
    - left = token.left

    %div{ id: token.id, class: [ :token ] + token.token_classes, style: "left: #{left}px; top: #{top}px;", extra_params: token.extra_params.to_json }
      = up_token( token )
      = down_token( token )

