#menu
  = link_to 'Game boards', g_game_boards_path
  - if @g_game_board&.id
    |
    = link_to 'Next turn', g_game_board_next_turn_url( g_game_board_id: @g_game_board.id )
    |
    = link_to 'Alliances bets', new_g_game_board_bet_path( g_game_board_id: @g_game_board.id )
    |
    = link_to 'Alliances status', g_game_board_alliances_path( g_game_board_id: @g_game_board.id )
    | 
    = link_to 'Alliances log', log_g_game_board_alliances_path( g_game_board_id: @g_game_board.id )
    | 
    Remove armies
    = check_box_tag 'remove_armies_cb'
    | 
    = button_tag 'Save army recruitment', id: :save_army_recruitment